/*FUENTES */

@font-face{
	font-family: "Grafier Regular Text";
	src:url(../fonts/Grafier-RegularText.otf);
}

h1,h2,h3,h4,h5,h6{
	font-family: "Grafier Regular Text";
}


.header__panorama{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.header__panorama__copy{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-size: 50px;
	font-family: 'Grafier Regular Text';
}

.navegacion{
	width: 90%;
	position: absolute;
	top: 5%;
	left: 5%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navegacion__logo, .navegacion__menu{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
}

.navegacion__logo{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.navegacion__menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navegacion__logo img{
	width: 150px;
	max-height: 50px;
}

.navegacion__menu img{
	height: 50px;
	
}

.about{
	background: #000;
	color: #fff;
	padding:50px 0;
}

.about h2{

	font-size: 32px;
	line-height: 1.5em;
}

.about p{
	font-size: 16px;
}

.pnrm__link{

	color: #fff;
	border-bottom: solid 2px #ffe371;
	text-decoration: none;

}

.pnrm__link:hover{
	text-decoration: none;
}

.menu__principal{
	width: 100%;
	height: 100vh;
	position: fixed;
	background: rgba(0,0,0,0.9);
	z-index: 2;
	display: none;
	justify-content: flex-end;
	align-items: center;
}

.menu__principal nav{
	background: #fff;
	color: #000;
	width: 30%;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.menu__close{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-self: flex-start;
	padding: 20px;
	cursor: pointer;
}

.menu__principal nav ul{
	list-style: none;
	line-height: 2em;
	width: 100%;
	margin-top: -80%;

}

.menu__principal nav a{
	color: #000;
	text-decoration: none;
}

.menu__principal nav a:hover{
	border-bottom: solid 2px #ffe371;
	text-decoration: none;
}